.block-panel {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 20px 20px;
}

.block-panel-no-border {
    border: none;
}

.thumbnail {
    cursor: default;
}

.add-room {
    width: 100%;
    float: left;
    padding: 5px 5px 5px 5px;
}