.empty-room {
    position: relative;
    width: 180px;
    min-height: 180px;
    padding: 5px 5px 5px 5px;
    float: left;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.empty-room-image {
    width: 100%;
    height: 100%;
}

.room-name {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: #000;
    padding: 10px 5px 5px 5px;
    width: 100%;
}

.room-edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 20pt;
}

.metric-side {
    width: 50%;
    padding: 20px 20px 20px 20px;
    float: left;
}

.color-side {
    width: 50%;
    padding: 20px 20px 20px 20px;
    float: left;
    border: solid 1xp red;
}

.slider-row {
    padding: 20px 20px 20px 20px;
}

.button-row {
    width: 100%;
    float: left;
    margin-top: 20px;
}