.project-icon {
    font-size: 46pt;
}

.thumbnail {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

.btn-lg {
    width: 47%;
    margin-right: 3px;
    margin-left: 3px;
}

.validation-state {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
}

.room-count {
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 13pt;
}

.location-name {
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: #42cef4;
    font-weight: bolder;
    font-size: 14pt;
}

.map-icon {
    color: #ff0000;
}

.project-ready {
    background-color: #caf2a9;
}

.better-padding {
    padding-left: 30px;
    padding-right: 10px;
}