.block-icon {
    font-size: 12pt;
    margin-right: 10px;
}

.block-icon-delete {
    font-size: 26pt;
    color: #ff0000;
    cursor: pointer;
}

.view-button {
    min-width: 100%;
}

.alert-info {
    border: none;
    color: #16678f;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.rooms-block-text {
    padding-left: 20px;
}

.section-header {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-bottom: solid 0.1rem #000;
    margin-bottom: 2px;
}

.thumbnail {
    border: none;
}

.nav-side {
    width: 300px;
    height: 100%;
    float: left;
    margin-right: 20px;
}

.content-side {
    width: 790px;
    min-height: 800px;
    float: left;
    overflow: none;
}

.button-fill {
    width: 100%;
    height: 100%;
}