.input-range {
    width: 90%;
    margin: 20px 20px 20px 20px;
}

.input-range__label {
    font-size: 10pt;
    font-family: inherit;
    display: none;
}

.input-range__slider {
    width: 2rem;
    height: 2rem;
    margin-top: -1.2rem;
}

.bolded-text {
    font-weight: bolder;
    font-size: 14pt;
}

.bolded-text-muted {
    font-weight: bold;
    font-size: 12pt;
}

.room-dimension-value {
    font-size: 16pt;
    text-align: center;
    padding-top: 5px;
}

.calculate-button {
    width: 98%;
}

.detail-side {
    margin-right: 20px;
    width: 75%;
    float: left;
}

.result-side {
    width: 20%;
    float: left;
}

.result-box {
    position: fixed;
    width: 20%;
}